
// ページ全体
color_page = #fbfcfa
color_text = #34495e

color_gray          = #95a5a6
color_gray_dark     = #7f8c8d
color_gray_light    = #bdc3c7
color_gray_light_ex = #ecf0f1

color_red      = #e74c3c
color_red_dark = #c0392b

color_blue = #3498db

color_green = #2ecc71

color_pink = #fe56aa

color_white = #fff
