
// 汎用
size_fill = 100%
size_half = 50%

// 領域
size_content_2column_width         = 1200px
size_content_2column_main_width    = 900px
size_content_1column_main_width    = 1000px
size_content_2column_sidebar_width = 300px
