@import "CommonColor.styl"

// Footer
.page > .footer {
  margin 0
  padding .5em 0
  background-color color_red
  color color_white
  font-size .9em
  text-align center
  line-height 1.5em

  a {
    text-decoration none
    color color_white

    &:hover {
      text-decoration underline
    }
  }
}
