/**
 * Header
 */

color_white    = #fff
color_red      = #e74c3c
color_red_dark = #c0392b
color_blue          = #3498db
color_gray          = #95a5a6
color_gray_dark     = #7f8c8d
color_gray_light    = #bdc3c7
color_gray_light_ex = #ecf0f1

.page > .header {
  background-color color_red
  color color_white
  letter-spacing 0.07em

  a {
    text-decoration none
    color color_white

    &:hover {
      text-decoration underline
    }
  }

  .title {
    margin .5em 0 0 0
    font-size 2.5em
    font-weight normal
    text-align center
  }

  .subtitle {
    margin 0
    padding .8em 0
    font-size .9em
    font-weight normal
    text-align center
  }
}

/**
 * Header - Menu
 */
.page > .header > .menu {
  margin 0
  padding .5em 0 0 0
  text-align right
  background-color color_red_dark

  a {
    display block
    color color_white
    opacity 0.8
    text-decoration none
    line-height 2em

    &:hover {
      opacity 1.0
    }
  }

  ul {
    display inline-block
    margin 0
    padding 0
    list-style none

    li {
      &:hover {
        > ul {
          display block
        }
      }
    }

    ul {
      display none
      float left
      position: absolute
      top 1.6em
      left 0
      z-index 99999
      margin 0
      width 12em
      background color_gray_light

      ul {
        top 0
        left -100%
      }

      a {
          padding .5em 1em
          width 10em
          height auto
          line-height 1.4em
          border-bottom solid 1px color_gray_light_ex
          background color_white
          color color_blue

          &:hover {
            text-decoration none
          }
      }
    }
  }

  li {
    position relative
    float left
    margin-right 1em
    font-size .9em
    text-align left
  }

  li:hover > a, ul ul :hover > a, a:focus {
    background-color color_gray_light_ex
  }

  li:hover > a, a:focus {
    background-color color_red_dark
  }
}