@font-face {
  font-family "minimalflat2"
  src url( "fonts/minimalflat2.eot?3oui0p" )
  src url( "fonts/minimalflat2.eot?#iefix3oui0p" ) format( "embedded-opentype" ), url( "fonts/minimalflat2.woff?3oui0p" ) format( "woff" ), url( "fonts/minimalflat2.ttf?3oui0p" ) format( "truetype" ), url( "fonts/minimalflat2.svg?3oui0p#minimalflat2" ) format( "svg" )
  font-weight normal
  font-style normal
}

[class^="minimalflat2-icon-"], [class*=" minimalflat2-icon-"] {
  font-family "minimalflat2"
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
}

.minimalflat2-icon-home:before {
  content "\e600"
}

.minimalflat2-icon-write:before {
  content "\e601"
}

.minimalflat2-icon-category:before {
  content "\e602"
}

.minimalflat2-icon-tag:before {
  content "\e603"
}

.minimalflat2-icon-clock:before {
  content "\e612"
}

.minimalflat2-icon-download:before {
  content "\e604"
}

.minimalflat2-icon-comment:before {
  content "\e605"
}

.minimalflat2-icon-search:before {
  content "\e606"
}

.minimalflat2-icon-config:before {
  content "\e607"
}

.minimalflat2-icon-earth:before {
  content "\e617"
}

.minimalflat2-icon-link:before {
  content "\e618"
}

.minimalflat2-icon-bookmark:before {
  content "\e608"
}

.minimalflat2-icon-smiley:before {
  content "\e619"
}

.minimalflat2-icon-mail:before {
  content "\e61a"
}

.minimalflat2-icon-twitter:before {
  content "\e60d"
}

.minimalflat2-icon-feed:before {
  content "\e60e"
}

.minimalflat2-icon-github:before {
  content "\e60f"
}

.minimalflat2-icon-html5:before {
  content "\e610"
}

.minimalflat2-icon-css3:before {
  content "\e611"
}

.minimalflat2-icon-arrow-left:before {
  content "\e613"
}

.minimalflat2-icon-arrow-down:before {
  content "\e614"
}

.minimalflat2-icon-arrow-up:before {
  content "\e615"
}

.minimalflat2-icon-arrow-right:before {
  content "\e616"
}
