@import "CommonColor.styl"

// サイドバー
.page__content__sidebar .widget {
  color color_text

  .widgettitle {
    font-weight normal
    font-size 1.5em
  }

  ul, ol {
    margin-left 0
    padding 0 .5em
    list-style none

    li {
      margin-top -1px
      padding .5em 0
      line-height 1.5em
      border-top solid 1px color_gray_light
      border-bottom solid 1px color_gray_light
    }
  }

  a {
    text-decoration none
    color color_blue

    &:hover {
      text-decoration underline
      color color_red
    }
  }

  .searchform {
    width 100%
    height 2em
    border solid 1px color_gray_light
    background-color color_white

    .text {
      overflow hidden
      margin-top .2em
      margin-left .3em
      padding-right .5em
    }

    input[type="text"] {
      box-sizing border-box
      height 1.2em
      width 100%
      border none
    }

    input[type="submit"] {
      float right
      margin-top .3em
      font-family "minimalflat2"
      border none
      background-color transparent
      color color_gray
    }
  }

  .tagcloud {
    a {
      display inline-block
      text-decoration none
      margin .2em .1em
      padding .5em
      border solid 2px color_red
      border-radius .3em
      background-color color_white
      color color_red
      letter-spacing .05em

      &:hover {
        text-decoration none
        background-color color_red
        color color_white
      }
    }
  }
}
