/*
Theme Name: minimalflat2
Theme URI: https://github.com/akabekobeko/wp-theme-minimalflat2
Author: akabeko
Author URI: http://akabeko.me/
Description: WordPress theme for http://akabeko.me/blog
Version: 1.0.0
Tags: red, one-column, two-columns, right-sidebar, flexible-width
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/**
 * WordPress
 */

.aligncenter {
  text-align center
}

.alignleft {
  text-align left
}

.alignright {
  text-align right
}

.wp-caption {
  margin 1em
  text-align center
  box-sizing border-box

  img {
    max-width 100%
  }
}
