/*
Theme Name: minimalflat2
Theme URI: https://github.com/akabekobeko/wp-theme-minimalflat2
Author: akabeko
Author URI: http://akabeko.me/
Description: WordPress theme for http://akabeko.me/blog
Version: 1.0.4
Tags: red, one-column, two-columns, right-sidebar, fluid-layout
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

size_fill = 100%

/**
 * WordPress
 */

.aligncenter {
  text-align center
}

.alignleft {
  float left
}

.alignright {
  float right
}

.sticky {
  font-weight normal
}

.gallery-caption {
  font-weight normal
}

.wp-caption {
  box-sizing border-box
  margin auto
  padding 1em
  max-width size_fill

  > .wp-caption-text {
    margin auto
    padding 0
    width size_fill
    text-align center
  }
}

.page > .content .post p.wp-caption-text {
  text-align center
}

/**
 * WordPress - Plugin
 */

.syntaxhighlighter {
  padding .5em 0
}

img#wpstats {
  display none
}
